{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}

<div class="page-header">
    <h1 class="text-center heading">BRANDON WASKIEWICZ</h1>
</div>

{% endblock header %}

{% block menu %}
{% endblock menu %}

{% block content %}

<p class="lead text-justify">I am a software developer with interests varying
from new programming language development and theory, to game development,
to web development. I love languages with great type systems (current favorites
being <a href="http://www.rust-lang.org/">Rust</a> and
<a href="http://www.haskell.org/">Haskell</a>), as well as languages whose
open source communities contribute prodigious amounts of awesome code (like
<a href="https://www.python.org/">Python</a>). I also play with C every once
in a while to keep me honest, and use
<a href="http://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a>
when I am working on Windows-centric software.</p>

<p class="lead text-justify">My GitHub account can be found
<a href="https://github.com/brandonw/">here</a>. I can be reached via e-mail at
<a href="mailto:brandon.waskiewicz@gmail.com">brandon.waskiewicz@gmail.com</a>.


<h2><a href ="{% url 'blog' %}">BLOG</a></h2>
<p class="lead text-justify">I recently started a blog. My intention is to
focus on software in general. I hope to document anything interseting I come
across, describe (and hopefully explain how to fix) any issues I encounter,
and give updates on any projects I am currently working on.  </p>


<h2><a href="{% url 'projects' %}">PROJECTS</a></h2>
<p class="lead text-justify">I love everything about open source, and try to
put as much of my code on <a href="https://www.github.com/">GitHub</a> as
possible. This ranges from my personal dot files, to forks of popular projects
that I have tweaked to my liking, to homegrown from-scratch projects I have
worked on. You can find a documented list of the projects I deem most
interesting.


<h2><a href="{% url 'resume' %}">R&#201;SUM&#201;</a></h2>
<p class="lead text-justify">I have made my resume available in HTML form, as
well as in <a href="{% url 'pdfresume' %}">downloadable PDF form</a>.</p>


<h2>ABOUT ME</h2>
<p class="lead text-justify">I grew up with an interest in experimenting with
computers. I have fond memories of connecting to Bulletin Board Systems as a
kid, using up my daily playtime on
<a href="http://en.wikipedia.org/wiki/Legend_of_the_Red_Dragon">L.O.R.D.</a>,
and then starting up QBasic and trying to create my own version-- ASCII
graphics start screen and all.</p>

<p class="lead text-justify">That eventually led to me trying to learn C++
by reading Borland's Turbo C++ manual during lunch periods in middle school
(even though it was admittedly over my head at the time), and culminating in
my choice of Computer Science major at the
<a href="http://www.umass.edu/">Univeristy of Massachusetts at Amherst</a>.</p>

{% endblock %}
