{% extends "base.html" %}

{% block title %}Résumé{% endblock %}

{% block menu-resume %}
<li class="active"><a href="{% url 'resume' %}">R&#201;SUM&#201;</a></li>
{% endblock %}

{% block content %}
<div id="resume">

    <div id="header-row">
        <div class="page-header">
            <h3 class="text-center">Brandon M. Waskiewicz</h3>
        </div>
        <p class="text-center"><a href="mailto:brandon.waskiewicz@gmail.com">brandon.waskiewicz@gmail.com</a></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div><strong>OBJECTIVE</strong></div>
            </div>
            <div class="col-md-6">
                <p>A position focusing on Python development in a Linux environment with special
                interest in web applications.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div><strong>EDUCATION</strong></div>
            </div>
            <div class="col-md-6">
                <p><em>Bachelor of Science,</em> Computer Science<br />
                University of Massachusetts, Amherst, MA<br />
                Graduated With Honors</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div><strong>COMPUTER SKILLS</strong></div>
            </div>
            <div class="col-md-6">
                <p><em>Languages:</em> C#, Python, C, Haskell, Rust, Vimscript<br />
                <em>Frameworks & Libraries:</em> ASP.NET MVC, Windows Forms, LINQ, Django<br />
                <em>Software & Tools:</em> Vim, git, svn, MSSQL, Visual Studio<br />
                <em>Operating Systems:</em> Linux, Windows</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div><strong>EXPERIENCE</strong></div>
            </div>
            <div class="col-md-6">
                <div class="clearfix">
                    <div class="pull-left"><em>Lead Software Engineer</em></div>
                    <div class="pull-right">Winter 2012-Present</div>
                </div>
                Bridgeport National Bindery, ERP and B2B application development, Agawam, MA
                <ul class="unstyled">
                    <li>Acted as a primary motivator in the addition of Bridgeport National Bindery’s
                    biggest POD partner: implemented the bridge between the two domains and
                    ensured all development-related tasks were finished quickly and consistently.</li>
                    <li></li>
                </ul>

                <div class="clearfix">
                    <div class="pull-left"><em>Software Engineer</em></div>
                    <div class="pull-right">Fall 2006-2012</div>
                </div>
                Bridgeport National Bindery, ERP and B2B application development, Agawam, MA
                <ul class="unstyled">
                    <li>Architected a revamp of the existing ERP system which drastically increased
                    modularity, improved consistency, and streamlined the addition of large customers.</li>
                    <li>Worked together with customers and partners to enact inter-business communication
                        systems managing terabytes of PDFs. These systems helped realize
                        huge growth in the new field of print on demand.</li>
                </ul>

                <div class="clearfix">
                    <div class="pull-left"><em>Software Intern</em></div>
                    <div class="pull-right">Summer 2006</div>
                </div>
                Atalasoft, Easthampton, MA
                <ul class="unstyled">
                    <li>Worked together with a team of interns quickly exploring the potential usage
                    paradigms of a newly released product.</li>
                    <li>Processed a plethora of information on both digital image theory and the dotImage
                    product from current employees in order to best determine how it could be
                    paired with Windows Workflow Foundation.</li>
                </ul>

                <div class="clearfix">
                    <div class="pull-left"><em>PLC & HMI Programmer</em></div>
                    <div class="pull-right">Winters 2002-07</div>
                </div>
                Industrial Power Services, Ware, MA
                <ul class="unstyled">
                    <li>Automated alerts, logging, and proportional-integral-derivative loops used in
                    programmable logic controllers to optimize the operating efficiency of multiple
                    power plants.</li>
                    <li>Implemented the ladder logic of DirectSoft PLC programs that governed the
                    transitions and states of multiple generators and gas-burning flares, making the
                    process of bringing up or shutting down all systems easier faster.</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="footer-row" class="hidden-print">
        <p class="text-right">Download a PDF copy of this resume <a href="/static/resume.pdf">here</a>.
    </div>
</div>

{% endblock %}
