{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Delete Password" %}{% endblock %}

{% block header %}

<div class="page-header">
    <h1>{% trans "Delete Password" %}</h1>
</div>

{% endblock %}

{% block content %}

<p>{% blocktrans %}You may delete your password since you are currently logged in using OpenID.{% endblocktrans %}</p>
<form method="post" action="./">
    {% csrf_token %}
    <button class="btn" type="submit">{% trans "delete my password" %}</button>
</form>

{% endblock %}
