{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block header %}

<div class="page-header">
    <h1 class="text-center heading">{{ project.name }}</h1>
</div>

{% endblock header %}

{% block menu %}

<ul class="list-unstyled">
    <li><h4><a href="{% url 'home' %}">HOME</a></h4></li>
    <li><h4><a href="{% url 'blog' %}">BLOG</a></h4></li>
    <li><h4><a href="{% url 'projects' %}">PROJECTS</a></h4></li>
    <li><h4><a href="{% url 'resume' %}">R&#201;SUM&#201;</a></h4></li>
</ul>
<hr />
<ul class="list-unstyled">
{% for project in projects %}
    <li><a href="{% url 'project-detail' project.slug %}">{{ project.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}

{% block content %}
{% load thumbnail %}

<ul class="list-unstyled">
    {% for projectimage in project.projectimage_set.all %}
    {% thumbnail projectimage.image "150x150" crop="center" as im %}
    <a href="{{ projectimage.image.url }}">
        <img class="img-thumbnail"
             src="{{ im.url }}"
             width="{{ im.width }}"
             height="{{ im.height }}" />
    </a>
    {% empty %}
    <p>No preview</p>
    {% endthumbnail %}
    {% endfor %}
</ul>

<p>{{ project.full_descr.rendered|safe }}</p>

{% endblock %}

