{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block menu-projects %}
<li class="active"><a href="{% url 'projects' %}">PROJECTS</a></li>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ project.name }}</h1>
</div>

{% load thumbnail %}

<ul class="list-inline">
    {% for projectimage in project.projectimage_set.all %}
    {% thumbnail projectimage.image "150x150" crop="center" as im %}
    <li>
    <a href="{{ projectimage.image.url }}">
        <img class="img-thumbnail"
             src="{{ im.url }}"
             width="{{ im.width }}"
             height="{{ im.height }}" />
    </a>
    </li>
    {% endthumbnail %}
    {% endfor %}
</ul>

<p>{{ html|safe }}</p>

{% endblock %}

