{% extends "base.html" %}

{% block title %}Projects Home{% endblock %}

{% block menu %}

<h1 class="text-right">&nbsp;</h1>

<ul class="list-unstyled">
    <li><h4><a href="{% url 'home' %}">HOME</a></h4></li>
    <li><h4><a href="{% url 'blog' %}">BLOG</a></h4></li>
    <li><h4><a href="{% url 'resume' %}">R&#201;SUM&#201;</a></h4></li>
    <li><h4><a href="{% url 'projects' %}">PROJECT INDEX</a></h4></li>
{% for project in projects %}
    <li><a href="./#{{ project.slug }}">{{ project.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}

{% block content %}
{% load thumbnail %}

<h1 class="text-center heading">PROJECTS</h1>

<p class="lead text-justify">The following is a pruned list of projects I
have worked on with a brief description. Click through to read a more
in-depth summary of what the project is, as well as the reasons I worked on
it, and my thought process while making it.</p>

<ul class="list-unstyled">

{% for project in projects %}
    <li>
        <a href="{% url 'project-detail' project.slug %}">
            <h2 id="{{project.slug}}">{{ project.name }}</h2>
        </a>
        <div class="row">
            <div class="col-md-4">
                {% if project.projectimage_set.count > 0 %}
                {% with image=project.projectimage_set.all.0.image %}
                {% thumbnail image "150x150" crop="center" as im %}
                <img class="img-thumbnail"
                     src="{{ im.url }}"
                     width="{{ im.width }}"
                     height="{{ im.height }}" />
                {% empty %}
                <p>No preview</p>
                {% endthumbnail %}
                {% endwith %}
                {% endif %}
            </div>
            <div class="col-md-8">
                <p>short_descr: {{ project.short_descr }}</p>
            </div>
        </div>
    </li>
{% endfor %}

</ul>
{% endblock %}

