{% extends "base.html" %}

{% block title %}Projects Home{% endblock %}

{% block menu %}

<h1 class="text-right">&nbsp;</h1>

<ul class="list-unstyled text-right">
{% for project in projects %}
    <li><h4><a href="{% url 'project-detail' project.slug %}">
            {{ project.name }}</a></h4></li>
{% endfor %}
</ul>

{% endblock %}

{% block content %}

<h1 class="text-center heading">PROJECTS</h1>

<p class="lead text-justify">The following is a pruned list of projects I
have worked on with a brief description. Click through to read a more
in-depth summary of what the project is, as well as the reasons I worked on
it, and my thought process while making it.</p>

<ul class="list-unstyled">

{% for project in projects %}
    <li>
        <h2>{{ project.name }}</h2>
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'project-detail' project.slug %}">
                    <img src="{{ MEDIA_URL }}{{ project.thumbnail }}" />
                </a>
            </div>
            <div class="col-md-8">
                <p>short_descr: {{ project.short_descr }}</p>
                <a href="{% url 'project-detail' project.slug %}">check it out</a>
            </div>
        </div>
    </li>
{% endfor %}

</ul>
{% endblock %}

