{% extends "base.html" %}

{% block menu-blog %}
<li class="active"><a href="{% url 'blog' %}">BLOG</a></li>
{% endblock %}

{% block sidemenu %}

{% load taggit_extras %}

<h4>Post tags</h4>
{% get_tagcloud as tags for published_tags %}
<p class="tags">
{% for tag in tags %}
{% with size=tag.weight|floatformat:0 %}
<span class="h{{ size }}"><a href="{% url 'blog-tag' tag.slug %}">{{ tag.name }}</a></span>
{% endwith %}
{% endfor %}
</p>
<hr />
<h4>Blog archives</h4>
{% for day in posts %}
    <h4>{{day.month}} {{ day.year }}</h4>
    <ul class="nav nav-pills nav-stacked">
    {% for post in day.posts %}
        <li>
            <a href="{% url 'blog-post' post.pub_date.year post.pub_date.month post.pub_date.day post.slug %}">
                    {{ post.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>

{% endblock %}
