{% extends "base.html" %}

{% block menu %}

<h1>&nbsp;</h1>

<ul class="list-unstyled">
    <li><h4><a href="{% url 'home' %}">HOME</a></h4></li>
    <li><h4><a href="{% url 'projects' %}">PROJECTS</a></h4></li>
    <li><h4><a href="{% url 'resume' %}">R&#201;SUM&#201;</a></h4></li>
</ul>
<hr />
<ul class="list-unstyled">
    <li><h4><a href="{% url 'blog' %}">BLOG</a></h4></li>
{% for day in posts %}
    <li><h4>{{day.month}} {{ day.year }}</h4>
    <ul class="list-unstyled month-listing">
    {% for post in day.posts %}
        <li>
            <a href="{% url 'blog-post' post.pub_date.year post.pub_date.month post.pub_date.day post.slug %}">
            {{ post.name }}</a>
        </li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}
