{% extends "blog/menu_base.html" %}

{% block title %}{{ post.name }} - Blog{% endblock %}

{% block header %}

<div class="page-header">
    <h1>{{ post.name }}</h1>
</div>

{% endblock header %}

{% block content %}

<p>{{ post.post_text.rendered|safe }}</p>

<hr />
posted {{ post.pub_date }}
<p>Tags:
{% for tag in post.tags.all %}
{% if forloop.last %}
    <a href="{% url 'blog-tag' tag.slug %}">{{ tag.name }}</a>
{% else %}
    <a href="{% url 'blog-tag' tag.slug %}">{{ tag.name }}</a>,
{% endif %}
{% endfor %}
</p>

<ul class="pager">
    {% if prev %}
    <li class="previous">
        <a href="{% url 'blog-post' prev.pub_date.year prev.pub_date.month prev.pub_date.day prev.slug %}">
            &larr; Previous<br />{{ prev.name }}
        </a>
    </li>
    {% endif %}
    {% if next %}
    <li class="next">
        <a href="{% url 'blog-post' next.pub_date.year next.pub_date.month next.pub_date.day next.slug %}">
            Next &rarr;<br />{{ next.name }}
        </a>
    </li>
    {% endif %}
</ul>

{% endblock %}
