{% extends "blog/base.html" %}

{% block title %}{{ post.name }} - Blog{% endblock %}

{% block header %}

<h1>{{ post.name }}</h1>

{% endblock header %}

{% block content %}

<p>{{ html|safe }}</p>

posted {{ post.pub_date }}
<p class="tags">Tags:
{% for tag in post.tags.all %}
{% if forloop.last %}
    <a href="{% url 'blog-tag' tag.slug %}">{{ tag.name }}</a>
{% else %}
    <a href="{% url 'blog-tag' tag.slug %}">{{ tag.name }}</a>,
{% endif %}
{% endfor %}
</p>

<div id="blog-pager" class="clearfix">
    {% if prev %}
    <div class="pull-left">
        <a href="{% url 'blog-post' prev.pub_date.year prev.pub_date.month prev.pub_date.day prev.slug %}">
            <h4>&larr; {{ prev.name }}</h4>
        </a>
    </div>
    {% endif %}

    {% if next %}
    <div class="pull-right">
        <a href="{% url 'blog-post' next.pub_date.year next.pub_date.month next.pub_date.day next.slug %}">
            <h4>{{ next.name }} &rarr;</h4>
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}
