{% extends "blog/base.html" %}

{% block title %}{{ tag }} posts - Blog{% endblock %}

{% block header %}

<h1>Posts tagged <span class="color">{{ tag }}</span></h1>

{% endblock header %}

{% block content %}

<ul id="tagged-posts" class="list-unstyled">
{% for post in taggedposts %}
    <h3>
        <a href="{% url 'blog-post' post.pub_date.year post.pub_date.month post.pub_date.day post.slug %}">{{ post.name }}</a>
        <small>{{ post.pub_date }}</small></h3>
{% endfor %}
</ul>

{% endblock %}
